/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/log/*.log

/spec/tmp/
.byebug_history

# rspec failure tracking
.rspec_status

# combustion files
/spec/internal/db/*.sqlite
/spec/internal/db/*.sqlite-*
/spec/internal/log/*.log
/spec/internal/storage/
/spec/internal/tmp/
/spec/internal/.byebug_history
