# frozen_string_literal: true

class <%= @scope_prefix %>Passkey::AuthenticationOptionsController < Devise::Passkey::AuthenticationOptionsController
  # GET /resource/passkey_authentication_options
  # def index
  #   super
  # end
end
