# frozen_string_literal: true

class <%= @scope_prefix %>Passkey::RegistrationOptionsController < Devise::Passkey::RegistrationOptionsController
  # GET /resource/passkey_registration_options
  # def index
  #   super
  # end
end
