# frozen_string_literal: true

class <%= @scope_prefix %>PasskeyRegistrationOptionsController < Devise::PasskeyRegistrationOptionsController
  # GET /resource/passkey_registration_options
  # def index
  #   super
  # end
end
