# frozen_string_literal: true

class <%= @scope_prefix %>PasskeysAuthenticationOptionsController < Devise::PasskeysController
  # GET /resource/authentication_options
  # def index
  #   super
  # end
end
