# frozen_string_literal: true

module <%= @scope_prefix %>PasskeysController < DeviseController
  # GET /resource/passkeys/new
  # def new
  #   super
  # end

  # POST /resource/passkeys
  # def create
  #   super
  # end

  # private

  # The default url to be used after creating a passkey. You can overwrite
  # this method in your own PasskeysController.
  # def after_update_path
  #   super
  # end
end
