<% if current_account %>
  <div>
    Passkeys:

    <% current_account.passkeys.each do |passkey| %>
      <li><%= passkey.name %></li>
    <% end %>
  </div>
<% end %>

<div> Add Passkey: <%= link_to "Add Passkey", new_account_passkey_path %> </div>
