# frozen_string_literal: true

class <%= @scope_prefix %>SecurityKey::AuthenticationOptionsController < Devise::SecurityKey::AuthenticationOptionsController
  # GET /resource/security_key_authentication_options
  # def index
  #   super
  # end
end
