# frozen_string_literal: true

class <%= @scope_prefix %>SecurityKey::RegistrationOptionsController < Devise::SecurityKeyRegistrationOptionsController
  # GET /resource/securiy_key_registration_options
  # def index
  #   super
  # end
end
