name: Ruby

on: push

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Lint code for consistent style
        run: bundle exec rubocop -f github

  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - 3.4
          - 3.3
          - 3.2
          - 3.1
          - '3.0'
          - 2.7
        gemfile:
          - rails_edge
          - rails_8_0
          - rails_7_2
          - rails_7_1

        exclude:
          - ruby: 3.1
            gemfile: rails_edge
          - ruby: 3.1
            gemfile: rails_8_0

          - ruby: 3.0
            gemfile: rails_edge
          - ruby: 3.0
            gemfile: rails_8_0
          - ruby: 3.0
            gemfile: rails_7_2

          - ruby: 2.7
            gemfile: rails_edge
          - ruby: 2.7
            gemfile: rails_8_0
          - ruby: 2.7
            gemfile: rails_7_2


    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile

    steps:
    - name: Check out repository code
      uses: actions/checkout@v5

    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
        bundler-cache: true

    - name: Run tests
      run: |
        bundle exec rspec
